*{
    margin: 0;
    padding: 0;  
}

body{
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    transition: background-color 0.5s ease;
}

body.dark{
    --background-color: white;
    --color-primary: #C20114;
    --color-secondary: #6D7275;
}

header,main,footer{
    transition: background-color 0.5s ease;
    background-color: var(--background-color);
}

header{
    grid-area: header;
    position: relative;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/* header */

.primary-nav{
    position: absolute;
    display: block;
    top: 7%;
    left: 2%;
    border: 1px solid var(--color-secondary);
    padding: 30px;
    border-radius: var(--border-radius);
    transition: 0.8s ease;
}

.primary-nav:hover{
    border-color: var(--color-primary);
}

.primary-ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.primary-ul li{
    text-align: center;
    background-color: var(--color-secondary);
    padding: 8px;
    border-radius: 5px;
    width: 90px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.primary-ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: left 0.5s ease;
    z-index: 0;
}

.primary-ul li:hover::after{
    left: 0;
}

.primary-ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    z-index: 1;
}

.primary-ul li:nth-child(2){
    margin-left: 120px;
}

.primary-ul li:nth-child(3){
    margin-left: 150px;
}

.primary-ul li i{
    position: relative;
    color: white;
    z-index: 1;
    margin-right: 8px;
}


/* footer */

footer{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "social-icon contact";
}


/* footer social icon */

.social-icon{
    grid-area: social-icon;
    display: flex;
}

.social-icon .title{
    color: white; 
    grid-area: title; 
}

.social-icon i{
    color: white;
    align-self: center;
    font-size: 30px;
    margin: 10px;
    background-color: var(--color-secondary);
    padding: 8px;
    border-radius: var(--border-radius);
    z-index: 1;
    position: relative;
    transition: background-color 0.5s ease , transform 0.5s ease;
}

.social-icon i:hover{
    background-color: var(--color-primary);
    transform: scale(1.1);
    cursor: pointer;
}

.social-icon i::after{
    position: absolute;
    content: attr(data-title);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    padding: 8px;
    top: -35px;
    font-size: 12px;
    border-radius: var(--border-radius);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s ease, opacity 0.5s ease;
}

.social-icon i:hover::after{
    visibility: visible;
    opacity: 1;
} 

/* footer contact form */

.contact{
    grid-area: contact;
    display: grid;
    grid-template-columns:10% 90%;
    grid-template-areas: 
    "title form";
}

.contact .title{
    color: white;
}

.social-icon .title {
    margin-left: 8px; 
    color: white;
}

.contact .title {
    margin-left: 8px; 
    color: white;
    grid-area: title;
}

form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1  message   i3"
    "i2   message   btn";
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 30px;
}

form input::placeholder{
    color: white;
    text-indent: 10px;
}

form textarea::placeholder{
    color: white;
    text-indent: 10px;
    line-height: 3;
}


#prenom{
    grid-area: i1;
    width: 100%;
    height: 50%;
    border: solid 1px var(--color-primary);
    border-radius: var(--border-radius);
    background: var(--color-secondary);
}

#nom{
    grid-area: i2;
    width: 100%;
    height: 50%;
    border: solid 1px var(--color-primary);
    background: var(--color-secondary);
    border-radius: var(--border-radius);
}

#message{
    grid-area: message;
    width: 100%;
    height: 90%;
    resize: none;
    border: solid 1px var(--color-primary);
    background: var(--color-secondary);
    border-radius: var(--border-radius);
}

#file{
    grid-area: i3;
    width: 100%;
    border: solid 1px var(--color-primary);
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 8px;
}

#btn{
    position: relative;
    grid-area: btn;
    height: 50%;
    width: 50%;
    color: white;
    border: solid 1px var(--color-primary);
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 1;
    transition: border 0.5s ease;
}

#btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: center;
    z-index: -1;
}

#btn:hover{
    cursor: pointer;
    border: solid var(--color-secondary) 3px;
}

#btn:hover::after{
    transform: scaleX(1);
}


/* main */

.blinking-text{
    position: relative;
    color: white;
    top: 50%;
}

.blinking-text{
    font-size: 18px;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.card {
    width: 200px;
    height: 300px;
    perspective: 1000px; 
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.card-front {
    background-color: #3498db;
}

.card-back {
    background-color: #e74c3c;
    transform: rotateY(180deg);
}


/* profil */

.profil{
    position: absolute;
    left: calc(100% - 60px);
    top: 20px;
    scale: 1.3;
    background-color: violet;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.profil i{
    color: white;
    font-size: 16px;
}

.profil .user{
    position: absolute;
    top: 110%;
    left: -300%;
    transform: translateX(15%);
    width: 100px;
    padding: 8px;
    background-color: var(--color-secondary);
    list-style-type: none;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "i1"
    "i2"
    "separator"
    "i3"
    "i4"
    "btndark"
    "separator2"
    "i5";
    display: none;
}

.profil .user.active{
    display: block;
}

.profil .user li{
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    filter: drop-shadow(0 0 5px black);
    margin: 5px;
    transition: 0.2s ease;
    position: relative;
}

.profil .user i{
    color: white;
    font-size: 12px;
    position: absolute;
    left: 5px;
}

.separator{
    margin-top: 6px;
    border-top: 1px solid var(--color-primary);;
}

.separator2{
    margin-top: 6px;
    border-top: 1px solid var(--color-primary);;
}


.i1{
    grid-area: i1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i2{
    grid-area: i2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator{
    grid-area: separator;
    border-top: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;

}

.separator2{
    grid-area: separator2;
    border-top: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.i3{
    grid-area: i3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i4{
    grid-area: i4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btndark{
    grid-area: btndark;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i5{
    grid-area: i5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil .user li:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
}

/* menu sub */

.menu{
    position: absolute;
    left: 85%;
    top: 20%;
    display: flex;
    gap: 20px;
}

.menu i{
    position: relative;
    color: white;
    font-size: 18px;
    background-color: var(--color-secondary);
    padding: 8px;
    border-radius: var(--border-radius);
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.5s ease , transform 0.5s ease;
}


.menu i::after{
    content: attr(data-title);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    font-family: var(--font);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
}


.menu i:hover::after{
    visibility: visible;
    opacity: 1;
}

/* search bar */

.search-bar{
    position: absolute;
    display: flex;
    top: -50%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    background-color: blue;
    padding: 15px 20px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}


.search-bar input{
    width: 200px;
    height: 40px;
    border: none;
    padding: 5px 10px 5px 35px;
    background-color: transparent;
    border-bottom: 1px solid white;
    flex: 1;
}

.search-bar input:focus{
    outline: none;
}

.search-bar i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s ease;
    display: flex;
    align-items: center;
}

.search-bar i:hover{
    color: var(--color-primary);
}

.search-bar button{
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.search-bar.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(350%) translateX(-50%);
}