:root{
    /*  Color  */
    --background-color : #0C120C;
    --color-primary : #C20114;
    --color-secondary: #6D7275;

    /* border size */
    --border-radius : 10px;

    /* font */
    --font: Georgia, 'Times New Roman', Times, serif;;
}   

